<div *ngIf="characters$ | async as response" class="tw-bg-white dark:tw-bg-gray-800 tw-p-4 tw-rounded-lg tw-shadow-lg">
  <ul class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 md:tw-grid-cols-3 lg:tw-grid-cols-4 tw-gap-4">
    <li *ngFor="let character of response.items" class="tw-bg-gray-100 dark:tw-bg-gray-700 tw-rounded-lg tw-p-4 tw-shadow-md">
      <img
        [src]="character.image"
        [alt]="character.name"
        class="tw-w-full tw-h-48 tw-object-cover tw-rounded-lg tw-mb-2"
      />
      <h3 class="tw-text-lg tw-font-semibold tw-text-gray-900 dark:tw-text-white">{{ character.name }}</h3>
      <p class="tw-text-gray-700 dark:tw-text-gray-300">Race: {{ character.race }}</p>
      <p class="tw-text-gray-700 dark:tw-text-gray-300">Ki: {{ character.ki }} / {{ character.maxKi }}</p>
      <p class="tw-text-gray-700 dark:tw-text-gray-300">Affiliation: {{ character.affiliation }}</p>
      <p class="tw-text-gray-700 dark:tw-text-gray-300">Gender: {{ character.gender }}</p>
      <p class="tw-text-gray-700 dark:tw-text-gray-300 tw-line-clamp-3">Description: {{ character.description }}</p>
    </li>
  </ul>
  <div class="tw-mt-4 tw-flex tw-justify-between tw-items-center">
    <button
      (click)="changePage(-1)"
      [disabled]="currentPage === 1"
      class="tw-bg-blue-500 hover:tw-bg-blue-600 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded tw-transition-colors tw-duration-300 disabled:tw-opacity-50 disabled:tw-cursor-not-allowed"
    >
      Previous
    </button>
    <span class="tw-text-gray-900 dark:tw-text-white">Page {{ currentPage }} of {{ response.meta.totalPages }}</span>
    <button
      (click)="changePage(1)"
      [disabled]="currentPage === response.meta.totalPages"
      class="tw-bg-blue-500 hover:tw-bg-blue-600 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded tw-transition-colors tw-duration-300 disabled:tw-opacity-50 disabled:tw-cursor-not-allowed"
    >
      Next
    </button>
  </div>
</div>
